Screen {
	background: black;
}
Input {
	width: 100%;
	height: 12%;
}
Label {
	content-align: left top;
	min-height: 20%;
	margin: 1;
}
SideBar {
	max-width: 20vw;
	dock: left;
}

DraftsList {
	border: tall #f2c973;
	border-subtitle-align: center;
}

#editor:focus, #draft-list:focus {
	border: tall #7197c7;
}

#editor {
	border-subtitle-align: center;
	border: tall #f2c973;
	background: black;
}
#search {
	margin: 1 0;
}
#search:focus {
	border: solid #f2c973;
}
